/* homepage */

#logo{
    display: block;
    margin: auto;
    width: 35%;
    height: auto;
    padding-bottom: 2%;
}

#intro{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    background-image: url("/images/IceCream.jpg");
    background-position: center;
    padding-top: 12%;
    padding-bottom: 12%;
    align-items: center;
    justify-items: center;
    text-align: center;
}

#intro_text{
    grid-column: 2 / span 1;
    padding: 10%;
    background-color: rgb(14, 106, 171, 0.9);
    color: white;
}

body{
    font-family: "Fjalla One", "Bebas Nue", "Roboto", sans-serif;
    font-weight: bold;
    color: #00274c;
}

p{
    padding-top: 0.5%;
    font-size: 2.5vh;
}

h1{
    font-size: 4.5vh;
    text-transform: uppercase;
    padding-top: 3%;
    grid-column: 1/ span 3;
}

#places h1{
    grid-column: 1 / span 2;
}

#weddings{
    grid-column: 2/ span 1;
}

#kerrytown{
    grid-column: 2/ span 1;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    background-color: rgb(300,300,300, 0.6);
    padding: 3%;
    margin-top: 2%;
    border: solid 3px #0e6aab;
    color: rgb(8, 68, 108);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.container:hover{
    transform: scale(1.03); 
}

h2{
    font-size: 4vh;
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    align-self: center;
}

img{
    padding-top: 1%;
    width: 35vw;
    height: auto;
}

#wedding_img, #kerrytown_img{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.last_box{
    margin-top: 4%;
    background: radial-gradient(#eddac5, #fff0f5);
        /* source for learning radial gradient: https://www.w3schools.com/css/css3_gradients_radial.asp  */
    color: #00274c;
    padding: 3%;
    padding-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.last_box h1{
    margin-bottom: 2%;
}

#past_last_box{
    border: solid 3px #0e6aab;
}

/* skip to main */
.skip{
    top: -60px; 
        /* move figure off screen until tabbed */
    position: absolute;
    z-index: 10;
}

.skip:focus{
    display: inline-block;
    position: absolute;
    top: 80px;
        /* move back on screen */
    z-index: 10;
}

/* nav */

header{
    padding-top: 4%;
    border-bottom: solid 3px #0e6aab;
    background-image: radial-gradient(#0e6aab,#eddac5, #fff0f5);
}

nav{
    background-color: #0e6aab;;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2%;
    font-size: 3vh;
    text-align: center;
}

nav ul li:nth-child(1) {
    grid-column: 1/ span 1;
}

nav ul li:nth-child(2) {
    grid-column: 2/ span 1;
}

nav ul li:nth-child(3) {
    grid-column: 3/ span 1;
}

nav ul li{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px 1px;
}

nav ul li a:visited{
    color: white;
}

nav ul li.active a{
    font-weight: bold;
    text-decoration: underline;
    background-color: white;
    color:#0e6aab;
    padding: 1%;
}

#places{
    padding-left: 2%;
    padding-right: 2%;
}

/* footer */
footer{
    margin-top: 2%;
    padding: 2%;
    background-color: #0e6aab;
    color: white;
}

/* kerrytown page */

#kerrytown_intro {
    display: flex;
    height: 40vh;
    perspective: 1000px;
        /* source for learning perspective https://www.w3schools.com/cssref/css3_pr_perspective.php */
} 

#kerrytown_main, #wedding_main{
    padding-left: 2%;
    padding-right: 2%;
}

/* Inner container that flips */
.container-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
        /* source for learning transform style https://www.w3schools.com/cssref/css3_pr_transform-style.php */
        /* lets us render the child elements when the card flips in 3d */
    transition: transform 0.9s ease;
  }
  
/* Flip on hover */
#kerrytown_intro:hover .container-inner {
    transform: rotateY(180deg);
  }
  
/* Front and back sides */
.container-front,
.container-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
/* Front content */
.container-front {
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), 
    url('/images/Kerrytown.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
/* Back content */
.container-back {
    background-color: #0e6aab;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* sets up for reduced motion query later */
.container-back-reduced-motion{
    visibility:hidden;
}

#location{
    padding-bottom: 4%;
}

.past_events{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 2%;
    row-gap: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-top: solid 3px #0e6aab;
}

#tub, #caramel, #donuts, #water, #weddingBike, #outside{
    grid-row: 2 /span 1;
    border-radius: 50%;
    width: 100%;
    height: 80%;
}

#tub, #water{
    grid-column: 1 / span 1;
}

#caramel, #weddingBike{
    grid-column: 2 / span 1;
}

#donuts, #outside{
    grid-column: 3 / span 1;
}

#past_intro{
    padding-top: 4%;
    padding-bottom: 4%;
}
 
#contact{
    background-color: #00274c;
    color: white;
    padding: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contact p{
    padding-top: 2%;
    padding-bottom: 2%;
}

#contact{
    transition: transform 0.4s ease;
    transform-style: preserve-3d;
}

#contact:hover{
    transform: rotateX(11deg) rotateY(11deg);
}

/* DESKTOP VIEW */

@media screen and (min-width: 900px){
    
    #places{
        display: grid;
        grid-template-columns: 49% 49%;
        column-gap: 2%;
        grid-template-rows: auto auto;
    }

    #places h1{
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }

    #weddings{
        grid-column: 1/ span 1;
    }
    
    #kerrytown{
        grid-column: 2/ span 1;
    }

    #weddings, #kerrytown{
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: 100%;
        height: 35vh;
    }

    #weddings{
        background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.7)), 
        url('/images/Wedding.jpg');
        background-size: cover;
        background-position: center;
    }

    #kerrytown{
        background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.7)), 
        url('/images/FarmersMarket.jpg');
        background-size: cover;
        background-position: center;
    }

    #kerrytown_intro {
        height: 50vh;
    } 

    #kerrytown h2, #weddings h2{
        grid-column: 1 / span 1;
    }

    .container-front h1{
        font-size: 6vh;
    }

    .container-back p{
        font-size: 4.5vh;
    }

    #kerrytown_img, #wedding_img{
        display: none;
    }


}

/* reduced motion */

@media (prefers-reduced-motion: reduce){
    
    .container, #contact{
        transition: none; 
        transform: translateX(0);
    }

    .container:hover, #contact:hover, #kerrytown_intro:hover .container-inner{
        transition: none; 
        transform:translateX(0);
    }

    .container-back-reduced-motion{
        visibility:visible;
        padding-top: 2%;
    }

}